<div class="space-y-6">
  <%= render 'prompts/_partials/header' %>

  <div class="grid gap-6 lg:grid-cols-2">
    <%= render 'prompts/_partials/prompt_content' %>
    <%= render 'prompts/_partials/generation_form' %>
  </div>

  <%= render 'prompts/_partials/recent_generations' %>
</div>
